.post-header {
	@media (min-width: 992px) {
		background: var(--transparent-post-header);
	}

	&__wrapper {
		gap: 2rem;
		padding: 1.6rem 1rem;

		& * {
			white-space: nowrap;
		}

		@media (max-width: 1650px) {
			flex-direction: column-reverse;
			gap: 1rem;
			padding: 1rem;
		}

		@media (max-width: 992px) {
			overflow-x: auto;
			scroll-snap-type: x mandatory;
			scroll-padding: 15px;
			flex-direction: row;
			gap: 2rem;
			padding: 1rem;
			margin-bottom: 1rem;
		}
	}
}

.item-post {
	&:nth-child(2) {
		gap: 2rem;
	}

	&__list {
		list-style-type: none;
		margin-bottom: 0;
		padding-left: 0;
		gap: 2rem;
		flex-wrap: wrap;

		li {
			border-radius: 6px;

			a {
				background: transparent;
				padding: 0.5rem 1rem;
				border: none;
				border-radius: 8px;
				background: var(--transparent-l-background);
				text-decoration: none;
				color: inherit;
				transition: all 0.3s ease;

				&:hover {
					background: var(--blue-color);
					color: var(--white-text-color);
				}

				@media (max-width: 992px) {
					color: var(--blue-color);
					background: var(--transparent-news-border);
				}

				@media (max-width: 768px) {
					font-size: 12px;
					line-height: 1.25;
				}
			}
		}

		@media (max-width: 1500px) {
			gap: 1rem;
		}

		@media (max-width: 992px) {
			flex-wrap: nowrap;
		}
	}

	&__link {
		color: var(--gray-link);
		text-decoration: none;

		@media (max-width: 768px) {
			font-size: 12px;
		}
	}

	&__search {
		width: 17.5px;
		height: 17.5px;
		cursor: pointer;

		@media (max-width: 768px) {
			width: 12px;
			height: 12px;
		}
	}

	&__btn {
		@media (max-width: 768px) {
			font-size: 12px;
		}
	}

	&__search use {
		fill: var(--gray-link);
	}
}
