.sale__title {
	max-width: 320px;
	color: var(--white-text-color);
	font-family: Raleway;
	font-weight: 700;
	font-size: 44px;
	line-height: 50px;
	color: var(--white-text-color);
	flex: 1 1 auto;
	z-index: 2;

	@media (max-width: 992px) {
		font-size: 24px;
		line-height: 28px;
	}

	@media (max-width: 550px) {
		font-size: 16px;
		line-height: 18px;
	}
}

.sale {
	margin-top: 6rem;
	grid-template-columns: 1fr 1fr;

	@media (max-width: 768px) {
		margin-top: 1rem;
		grid-gap: 1rem !important;
	}

	& > *:first-child {
		grid-column: 1 / 2;
		grid-row: 1 / 1;

		& > .sale__image {
			height: 85%;
		}

		@media (max-width: 550px) {
			min-height: 240px;
		}
	}

	& > *:nth-child(2) {
		grid-column: 2 / 3;
		grid-row: 1 / 1;

		& > .sale__image {
			height: 85%;
		}

		@media (max-width: 550px) {
			min-height: 240px;
		}
	}

	& > *:last-child {
		grid-column: 1 / 3;
		grid-row: 2 / 2;

		& > .sale__image {
			height: 90%;
			right: 10%;

			@media (max-width: 992px) {
				right: 0;
			}
		}

		& > .sale__title {
			max-width: 100%;
		}

		@media (max-width: 550px) {
			min-height: 158px;
		}
	}

	& > * {
		padding: 2.5rem;
		min-height: 555px;
		border-radius: 8px;
		overflow: hidden;

		@media (max-width: 1300px) {
			min-height: 400px;
		}

		@media (max-width: 768px) {
			min-height: 300px;
			padding: 1rem;
		}
	}
}

.sale__pink {
	background: var(--pink-color);
}

.sale__blue {
	background: var(--blue-color);
}

.sale__link {
	position: relative;
	color: var(--blue-color);
	font-family: Inter;
	font-weight: 600;
	text-decoration: none;
	padding: 1rem 1.5rem;
	border-radius: 6px;
	background: var(--white-text-color);
	display: inline-block;
	z-index: 2;

	@media (max-width: 768px) {
		padding: 10px 1rem;
		border: 1px solid var(--dark-blue-color);
	}
}

.sale__image {
	position: absolute;
	bottom: 0;
	right: 10px;
	z-index: 1;
}

.sales {
	margin-bottom: 10rem;

	@media (max-width: 992px) {
		margin-bottom: 3rem;
	}
}
