@media (max-width: 1500px) {
	.tab-title {
		padding-left: 13px;
		padding-right: 13px;
		color: var(--almost-black-color);
		text-decoration: none;
		padding: 0.5rem 1rem;
		border-radius: 8px;
		gap: 12px;

		&.blue {
			color: var(--white-text-color) !important;
			background: var(--header-background-color);

			& .menu-icon use {
				fill: var(--white-text-color);
			}

			.menu__arrow-dropdown use {
				stroke: var(--white-text-color);
			}
		}

		&:not(.nav-link) {
			margin-bottom: 0.5rem;
		}
	}

	.tab {
		border-radius: 8px;
		font-size: 16px;

		&.active {
			& > .tab-title {
				color: var(--white-text-color) !important;
				background: var(--header-background-color);

				& .menu-icon use {
					fill: var(--white-text-color);
				}

				.menu__arrow-dropdown {
					transform: scale(-1);
				}

				.menu__arrow-dropdown use {
					stroke: var(--white-text-color);
				}
			}

			.tab-list {
				gap: 0.5rem;
				border-radius: 0;

				&.active {
					margin: 1rem 0;
				}

				& a {
					background: var(--transparent-menu-item);
					border-radius: 8px;
				}
			}
		}
	}
}
