.arrow-wrapper {
	position: fixed;
	transform: rotate(-90deg);
	bottom: 15%;
	right: 2rem;
	background: rgba(77, 94, 255, 0.05);
	border: 5px solid var(--arrow-border);
	padding: 45px 36px 44px 41px;
	border-radius: 50%;
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease;
	z-index: 10000;

	@media (max-width: 1200px) {
		padding: 28px 23px 27.5px 23.5px;
	}

	@media (max-width: 768px) {
		padding: 20px 22px 20.5px 22.5px;
		bottom: 1rem;
		right: 1rem;
	}

	&.hidden {
		opacity: 0;
		visibility: hidden;
	}
}

.arrow__up {
	width: 46px;
	height: 34px;

	@media (max-width: 1200px) {
		width: 40px;
		height: 29px;
	}

	@media (max-width: 768px) {
		width: 23px;
		height: 17px;
	}
}
