.t-btn {
	color: var(--white-text-color);
	padding: 0.5rem 1rem;
	background: var(--blue-color);
	border-radius: 8px;
	border: none;

	&.pink {
		background: var(--pink-color);
	}
}

.title {
	font-family: Raleway;
	font-weight: 700;
	font-size: 67px;
	line-height: 79px;
	color: var(--almost-black-color);

	@media (max-width: 992px) {
		font-size: 42px;
		line-height: 1.2;
	}

	@media (max-width: 768px) {
		font-size: 30px;
	}

	@media (max-width: 500px) {
		font-size: 21px;
	}
}

a {
	text-decoration: none;
}

.notify {
	padding: 10px;
	font-family: Open Sans;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	color: #4d5eff;
	background: rgba(77, 94, 255, 0.05);
	border: 1px solid #4d5eff;
	border-radius: 8px;
}

.success {
	background: rgba(32, 209, 147, 0.1);
	border: 1px solid rgba(13, 191, 129, 0.4);
	border-radius: 8px;

	& p {
		color: #21bf88;
		font-weight: 600;
	}

	& svg {
		width: 27px;
		height: 27px;
	}

	& use {
		fill: #21bf88;
	}
}

.warning {
	background: rgba(227, 163, 25, 0.10000000149011612);
	border: 1px solid rgba(227, 163, 26, 0.4);
	border-radius: 8px;

	& p {
		color: #eaa718;
		font-weight: 600;
	}

	& svg {
		width: 27px;
		height: 27px;
	}

	& use {
		fill: #eaa718;
	}
}

.error {
	background: rgba(209, 32, 103, 0.10000000149011612);
	border: 1px solid rgba(209, 32, 103, 0.4);
	border-radius: 6px;

	& p {
		color: #d12067;
		font-weight: 600;
	}

	& svg {
		width: 27px;
		height: 27px;
	}

	& use {
		fill: #d12067;
	}
}

.notification-info {
	background: rgba(77, 94, 255, 0.10000000149011612);
	border: 1px solid rgba(77, 94, 255, 0.4);
	border-radius: 6px;

	& p {
		color: #4d5eff;
		font-weight: 600;
	}

	& svg {
		width: 27px;
		height: 27px;
	}

	& use {
		fill: #4d5eff;
	}
}

.white-btn {
	font-family: Open Sans;
	font-weight: 600;
	font-size: 16px;
	line-height: 1.3;
	color: #4d5eff;
	background: #fff;
	border: 1px solid #4d5eff;
	border-radius: 6px;
	width: 100%;
	padding: 1rem 0;
	text-align: center;
	transition: all 0.3s ease;

	&.active {
		background: transparent;
		border: 1px solid #fff;
		color: #fff;
	}

	@media (max-width: 768px) {
		font-weight: 600;
		font-size: 16px;
		line-height: 18px;
		padding: 10px 0;
	}
}

.default-input {
	margin-top: 1.9rem;
	font-family: Open Sans;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.3;
	text-align: left;
	color: rgb(77, 94, 255);
	padding: 0.9rem;
	width: 100%;
	outline: none;
	border: 1px solid #4d5eff;
	border-radius: 8px;

	&::placeholder {
		color: rgba(77, 94, 255, 0.4000000059604645);
	}

	@media (max-width: 992px) {
		margin-top: 10px;
	}
}

.form-title {
	font-weight: 400;
	font-size: 28px;
	color: #00031a;

	@media (max-width: 992px) {
		font-size: 22px;
	}

	@media (max-width: 768px) {
		font-size: 16px;
	}
}

.link-strong {
	font-weight: 600;
	color: #000;

	&:hover {
		text-decoration: underline;
	}

	@media (max-width: 768px) {
		font-weight: 400;
		text-decoration: underline;
	}
}

.white-color {
	color: var(--white-text-color);
}

.blockquote {
	padding: 1rem;
	border: 1px solid rgba(77, 94, 255, 0.2);
	border-radius: 8px;

	blockquote {
		line-height: 1.3;
		color: #4d5eff;
		border-left: 3px solid #4d5eff;
		border-right: 3px solid #4d5eff;
		border-radius: 6px;
		padding: 0.5rem 1rem;
	}

	& > p {
		font-size: 12px;
		color: #000000;
	}
}

.default-table {
	width: 100%;
	border-radius: 6px;
	max-height: 410px;
	overflow: auto;
	display: block;
	margin-bottom: 3rem;
	margin-top: 1.5rem;

	tbody {
		display: block;
		padding-right: 2rem;
	}

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background: rgba(77, 94, 255, 0.2);
		border-radius: 100px;
	}

	&::-webkit-scrollbar-thumb {
		background: #8d93cf;
		width: 6px;
		border-radius: 100px;
	}

	tr {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	th {
		font-weight: 600;
		font-size: 16px;
		line-height: 1.3;
		color: #4d5eff;
		background: #f6f7ff;
		padding: 10px 12px;
		border: 1px solid #dbdfff;
	}

	td {
		font-size: 16px;
		line-height: 1.3;
		color: #4d5eff;
		padding: 10px 12px;
		border: 1px solid #dbdfff;
	}
}

.list {
	li {
		position: relative;

		&:before {
			content: "";
			width: 4px;
			height: 4px;
			position: absolute;
			top: 10px;
			left: -10px;
			background: #000;
			border-radius: 50%;
		}
	}
}

h1 {
	font-family: Raleway;
	font-weight: 700;
	font-size: 67px;
	color: #00031a;
}

h2 {
	font-family: Raleway;
	font-weight: 700;
	font-size: 38px;
	line-height: 45px;
	color: #00031a;
	margin-bottom: 1.5rem;
	margin-top: 3rem;
}
