.clients__item {
	padding: 8px;
}

.clients {
	margin-top: 3.5rem;

	@media (max-width: 992px) {
		margin-top: 2rem;
	}

	@media (max-width: 768px) {
		display: grid !important;
		grid-template-columns: 1fr 1fr 1fr;
		margin-top: 0;
	}
}
