.main-block {
	margin: 7rem auto;

	@media (max-width: 1500px) {
		margin: 5rem auto;
	}

	@media (min-width: 992px) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 1rem;
	}

	&__item {
		height: 100%;
	}

	@media (max-width: 1250px) {
		flex-wrap: wrap;
		margin: 5rem auto;
	}

	@media (max-width: 992px) {
		display: flex !important;
		flex-wrap: nowrap;
		margin: 0;
		gap: 0.4rem;

		&.add-scroll:not(.xs-x-scroll) {
			flex-wrap: wrap;
			margin-top: 2rem;

			& > * {
				margin: 0.25rem 0 !important;
			}
		}
	}

	&.row {
		& > *:not(:first-child) {
			padding-left: 1rem;
			padding-right: 0;

			@media (max-width: 768px) {
				padding-left: 0;
			}
		}

		@media (max-width: 992px) {
			& > *:last-child {
				padding: 0;
			}
		}

		& > * {
			padding-left: 0;
		}

		@media (max-width: 768px) {
			& > * {
				margin-top: 0rem !important;
			}
		}
	}
}

@media (max-width: 992px) {
	.xs-x-scroll {
		overflow-x: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		scroll-snap-type: x mandatory;
		scroll-padding: 15px;
	}

	.xs-x-scroll > * {
		margin-bottom: 0 !important;
	}

	.xs-x-scroll > div:last-of-type {
		min-width: 100%;
		scroll-snap-align: start;
		max-height: 50vh;
		overflow-y: scroll;
		padding: 0;
	}

	.xs-x-scroll > div:not(:last-of-type) {
		min-width: 100%;
		scroll-snap-align: start;
		max-height: 50vh;
		overflow-y: scroll;
		flex-shrink: inherit;
		padding: 0;
	}
}

@media (max-width: 768px) {
	.xs-x-scroll div {
		margin-top: 0rem !important;
	}
}

.item-main {
	border-radius: 8px;
	padding: 1.5rem;
	color: var(--white-text-color);
	min-height: 580px;
	position: relative;
	overflow: hidden;

	@media (max-width: 992px) {
		min-height: 50vh;
	}

	@media (max-width: 768px) {
		min-height: 300px;
	}

	&.blue {
		background: var(--blue-color);
	}

	&.pink {
		background: var(--pink-color);
	}

	&__button {
		margin-left: auto;
		display: block;
		font-size: 21px;
		text-transform: uppercase;
		pointer-events: none;

		@media (max-width: 768px) {
			font-size: 16px;
		}
	}

	&__title {
		font-family: Raleway;
		font-weight: 700;
		font-size: 42px;
		margin-top: 1.5rem;

		@media (max-width: 1400px) {
			font-size: 32px;
		}

		@media (max-width: 768px) {
			font-size: 21px;
		}
	}

	&__description {
		font-size: 28px;
		color: var(--white-text-color);
		margin-top: 1rem;

		@media (max-width: 1400px) {
			font-size: 24px;
		}

		@media (max-width: 768px) {
			font-size: 16px;
		}
	}

	&__icon {
		position: absolute;
		bottom: -3.5rem;
		right: -3.5rem;
		padding: 72px;
		background: var(--transparent-icon);
		border-radius: 50%;
		box-sizing: content-box;

		& svg {
			width: 128px;
			height: 128px;
		}

		@media (max-width: 768px) {
			padding: 36px;
			bottom: -1.5rem;
			right: -1.5rem;

			& svg {
				width: 74px;
				height: 74px;
			}
		}
	}
}
