.block-reviews__review {
	border: 1px solid rgba(77, 94, 255, 0.2);
	border-radius: 8px;
	padding: 1rem;
}

.block-reviews {
	grid-template-columns: 1fr;
	gap: 2rem;

	@media (max-width: 1200px) {
		gap: 1rem;
	}
}

.reviews-wrapper {
	align-items: flex-end;
	gap: 2rem;

	& > * {
		flex: 0 0 calc(25% - 2rem);
	}

	@media (max-width: 1200px) {
		flex-direction: column;
		gap: 1rem;
		align-items: start;

		& > * {
			flex: 0 0 100%;
			width: 100%;
		}
	}
}

.review-block {
	gap: 0.5rem;

	&__name {
		font-weight: 600;
		margin-left: 1rem;
	}

	&__date {
		font-weight: 600;
		font-size: 12px;
		line-height: 16px;
		color: #303030;
		opacity: 0.5;
	}
}
