.form-wrapper {
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
	margin-top: 6rem;
	margin-bottom: 10rem;

	@media (max-width: 992px) {
		grid-template-columns: 1fr;
		gap: 0;
		margin-top: 2rem;
		margin-bottom: 5rem;
	}

	@media (max-width: 768px) {
		margin-top: 1rem;
		margin-bottom: 3rem;
	}
}

.form {
	&__block.image {
		background: var(--blue-color);
		border-radius: 8px;
	}

	&__block:not(.image) {
		background: var(--white-background);
		border: 1px solid var(--transparent-news-border);
		border-radius: 8px;
		padding: 3rem 6rem;

		@media (max-width: 992px) {
			padding: 1.5rem 3rem;
		}

		@media (max-width: 768px) {
			padding: 1rem;
		}
	}

	&__block.no-border {
		@media (max-width: 768px) {
			border: none;
			padding: 0;
		}
	}

	&__input {
		font-size: 21px;

		@media (max-width: 768px) {
			font-size: 16px;
		}
	}

	&__input:first-child {
		@media (max-width: 768px) {
			margin-top: 0;
		}
	}

	&__input.tel {
		margin-top: 1rem;

		&::placeholder {
			color: var(--transparent-accordion-color);
		}
	}

	&__textarea {
		resize: none;
		font-size: 21px;
		line-height: 1.2;
		background: var(--white-gray-background);
		color: var(--blue-color);
		border: 1px solid var(--blue-color);
		border-radius: 8px;
		padding: 0.5rem 1rem;
		margin-top: 1rem;
		outline: none;

		&::placeholder {
			line-height: 1.2;
			color: var(--transparent-accordion-color);
		}

		@media (max-width: 768px) {
			font-size: 16px;
		}
	}

	&__checkbox {
		margin-top: 1rem;
	}

	&__btn {
		margin-top: 2rem;
		padding: 1rem 0;
		margin-bottom: 0;

		@media (max-width: 768px) {
			margin-top: 1rem;
		}
	}
}

.form__checkbox {
	font-family: Open Sans;
	font-size: 16px;
	line-height: 1.3;
	color: #00031a;
	grid-template-columns: 32px auto;
	gap: 1rem;

	@media (max-width: 768px) {
		gap: 0.5rem;
	}
}

.form__checkbox input[type="checkbox"] {
	appearance: none;
	background-color: var(--white-background);
	margin: 0;
	font: inherit;
	width: 32px;
	height: 32px;
	border-radius: 0.15em;
	transform: translateY(-0.075em);
	border: 2.29px solid var(--blue-color);
	border-radius: 6px;
	position: relative;
	transition: all 0.3s ease;
	cursor: pointer;
}
.form__checkbox input[type="checkbox"]:checked {
	background: var(--blue-color);
}

.checkbox-icon {
	position: absolute;
	top: 48%;
	left: 6px;
	cursor: pointer;
	transform: translateY(-50%);

	& use {
		fill: none;
	}
}

.form__checkbox input[type="checkbox"]:not(:checked) + .checkbox-icon {
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}

.form__checkbox input[type="checkbox"]:checked + .checkbox-icon {
	opacity: 1;
	visibility: visible;
}

.form__description {
	@media (max-width: 992px) {
		margin: auto 0;

		& br {
			display: none;
		}
	}

	@media (max-width: 768px) {
		font-size: 12px;
	}
}
