.video__background {
	width: 100%;
	border-radius: 8px;
	background: var(--transparent-news-border);
	border-radius: 8px;
	height: min(100vh, 860px);
	position: relative;
	margin-top: 6rem;
	margin-bottom: 10rem;

	@media (max-width: 992px) {
		margin-top: 3rem;
		margin-bottom: 5rem;
		height: 80vh;
	}

	@media (max-width: 768px) {
		margin-top: 1rem;
		margin-bottom: 3rem;
		height: auto;
		min-height: 250px;
	}

	@media (max-width: 500px) {
		min-height: 178px;
	}

	& svg {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 58px;
		height: 52px;
		margin: auto;
	}
}
